<!-- About Section -->
<section id="about" class="about section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <div class="content ps-0 ps-lg-5">
          <h2>About Eido</h2>
          <p>
            At Eido, we believe in the power of digital transformation. Our
            journey began with a simple mission: to help businesses thrive in
            the digital age. Today, we're proud to be a leading digital
            marketing agency that combines creativity with technical expertise
            to deliver exceptional results.
          </p>

          <div class="position-relative mt-4">
            <img
              src="assets/img/about-2.jpg"
              class="img-fluid rounded-4"
              alt="Eido Team" />
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 position-relative"
        data-aos="fade-up"
        data-aos-delay="200">
        <div class="about-img">
          <img
            src="assets/img/about.jpg"
            class="img-fluid rounded-4 shadow-lg"
            alt="Eido Office" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
