<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Portfolio</h2>
    <p>CHECK OUR PORTFOLIO</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div
      class="isotope-layout"
      data-default-filter="*"
      data-layout="masonry"
      data-sort="original-order">
      <ul
        class="portfolio-filters isotope-filters"
        data-aos="fade-up"
        data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-graphic-design">Graphic Design</li>
        <li data-filter=".filter-web-design">Web Design & Development</li>
        <li data-filter=".filter-videography">Videography</li>
        <li data-filter=".filter-photography">Photography</li>
        <li data-filter=".filter-video-editing">Video Editing</li>
        <li data-filter=".filter-social-media">Social Media Management</li>
        <li data-filter=".filter-digital-marketing">Digital Marketing</li>
        <li data-filter=".filter-animation">Animation</li>
      </ul>
      <!-- End Portfolio Filters -->

      <div
        class="row gy-4 isotope-container"
        data-aos="fade-up"
        data-aos-delay="200">
        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/EIDO Flyers.jpg"
              class="img-fluid"
              alt="EIDO Flyers Design" />
            <div class="portfolio-info">
              <h4>EIDO Flyers</h4>
              <p>Professional flyer design for digital marketing campaigns</p>
              <a
                href="assets/img/FLYERS/EIDO Flyers.jpg"
                title="EIDO Flyers"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/EIDO Record.jpg"
              class="img-fluid"
              alt="EIDO Record Design" />
            <div class="portfolio-info">
              <h4>EIDO Record</h4>
              <p>Creative record label promotional design</p>
              <a
                href="assets/img/FLYERS/EIDO Record.jpg"
                title="EIDO Record"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/EIDO Snap.jpg"
              class="img-fluid"
              alt="EIDO Snap Design" />
            <div class="portfolio-info">
              <h4>EIDO Snap</h4>
              <p>Dynamic social media promotional design</p>
              <a
                href="assets/img/FLYERS/EIDO Snap.jpg"
                title="EIDO Snap"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Sweet Mummy Open.jpg"
              class="img-fluid"
              alt="Sweet Mummy Opening Design" />
            <div class="portfolio-info">
              <h4>Sweet Mummy Opening</h4>
              <p>Grand opening event flyer design</p>
              <a
                href="assets/img/FLYERS/Sweet Mummy Open.jpg"
                title="Sweet Mummy Opening"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Sweet Mummy Bomso.jpg"
              class="img-fluid"
              alt="Sweet Mummy Bomso Design" />
            <div class="portfolio-info">
              <h4>Sweet Mummy Bomso</h4>
              <p>Product promotional flyer design</p>
              <a
                href="assets/img/FLYERS/Sweet Mummy Bomso.jpg"
                title="Sweet Mummy Bomso"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Sweet Mummy Delissa.jpg"
              class="img-fluid"
              alt="Sweet Mummy Delissa Design" />
            <div class="portfolio-info">
              <h4>Sweet Mummy Delissa</h4>
              <p>Elegant product showcase design</p>
              <a
                href="assets/img/FLYERS/Sweet Mummy Delissa.jpg"
                title="Sweet Mummy Delissa"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Sweet Mummy Glad.jpg"
              class="img-fluid"
              alt="Sweet Mummy Glad Design" />
            <div class="portfolio-info">
              <h4>Sweet Mummy Glad</h4>
              <p>Vibrant product marketing design</p>
              <a
                href="assets/img/FLYERS/Sweet Mummy Glad.jpg"
                title="Sweet Mummy Glad"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/BAMBICUP Shawarma.jpg"
              class="img-fluid"
              alt="BAMBICUP Shawarma Design" />
            <div class="portfolio-info">
              <h4>BAMBICUP Shawarma</h4>
              <p>Food menu promotional design</p>
              <a
                href="assets/img/FLYERS/BAMBICUP Shawarma.jpg"
                title="BAMBICUP Shawarma"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/BAMBICUP Shrimp Fried Rice.jpg"
              class="img-fluid"
              alt="BAMBICUP Shrimp Fried Rice Design" />
            <div class="portfolio-info">
              <h4>BAMBICUP Shrimp Rice</h4>
              <p>Delicious food item promotional design</p>
              <a
                href="assets/img/FLYERS/BAMBICUP Shrimp Fried Rice.jpg"
                title="BAMBICUP Shrimp Fried Rice"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/BAMBICUP Pineapple Fried Rice.jpg"
              class="img-fluid"
              alt="BAMBICUP Pineapple Fried Rice Design" />
            <div class="portfolio-info">
              <h4>BAMBICUP Pineapple Rice</h4>
              <p>Tropical food menu design</p>
              <a
                href="assets/img/FLYERS/BAMBICUP Pineapple Fried Rice.jpg"
                title="BAMBICUP Pineapple Fried Rice"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/BAMBICUP Coconut Fried Rice.jpg"
              class="img-fluid"
              alt="BAMBICUP Coconut Fried Rice Design" />
            <div class="portfolio-info">
              <h4>BAMBICUP Coconut Rice</h4>
              <p>Exotic food promotional design</p>
              <a
                href="assets/img/FLYERS/BAMBICUP Coconut Fried Rice.jpg"
                title="BAMBICUP Coconut Fried Rice"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/BAMBI Weekly.jpg"
              class="img-fluid"
              alt="BAMBI Weekly Design" />
            <div class="portfolio-info">
              <h4>BAMBI Weekly</h4>
              <p>Weekly promotional campaign design</p>
              <a
                href="assets/img/FLYERS/BAMBI Weekly.jpg"
                title="BAMBI Weekly"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/AHGK Welcome Back.jpg"
              class="img-fluid"
              alt="AHGK Welcome Back Design" />
            <div class="portfolio-info">
              <h4>AHGK Welcome Back</h4>
              <p>Community welcome event design</p>
              <a
                href="assets/img/FLYERS/AHGK Welcome Back.jpg"
                title="AHGK Welcome Back"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/AHGK Profile Design.jpg"
              class="img-fluid"
              alt="AHGK Profile Design" />
            <div class="portfolio-info">
              <h4>AHGK Profile Design</h4>
              <p>Professional profile layout design</p>
              <a
                href="assets/img/FLYERS/AHGK Profile Design.jpg"
                title="AHGK Profile Design"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/AHGK Kids Cake.jpg"
              class="img-fluid"
              alt="AHGK Kids Cake Design" />
            <div class="portfolio-info">
              <h4>AHGK Kids Cake</h4>
              <p>Children's birthday cake promotional design</p>
              <a
                href="assets/img/FLYERS/AHGK Kids Cake.jpg"
                title="AHGK Kids Cake"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Nobel Care Services Hiring.jpg"
              class="img-fluid"
              alt="Nobel Care Services Hiring Design" />
            <div class="portfolio-info">
              <h4>Nobel Care Hiring</h4>
              <p>Professional recruitment flyer design</p>
              <a
                href="assets/img/FLYERS/Nobel Care Services Hiring.jpg"
                title="Nobel Care Services Hiring"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/Adehye Sash.jpg"
              class="img-fluid"
              alt="Adehye Sash Design" />
            <div class="portfolio-info">
              <h4>Adehye Sash</h4>
              <p>Elegant fashion promotional design</p>
              <a
                href="assets/img/FLYERS/Adehye Sash.jpg"
                title="Adehye Sash"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-graphic-design portfolio-item-hidden">
          <div class="portfolio-content h-100">
            <img
              src="assets/img/FLYERS/AHGK Sticker.png"
              class="img-fluid"
              alt="AHGK Sticker Design" />
            <div class="portfolio-info">
              <h4>AHGK Sticker</h4>
              <p>Creative sticker design for branding</p>
              <a
                href="assets/img/FLYERS/AHGK Sticker.png"
                title="AHGK Sticker"
                data-gallery="portfolio-gallery-graphic"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="portfolio-details.html"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->
      </div>
      <!-- End Portfolio Container -->

      <!-- Show More Button -->
      <div class="text-center mt-4" id="portfolio-show-more-container">
        <button
          id="portfolio-show-more"
          class="btn btn-primary btn-lg"
          data-aos="fade-up"
          data-aos-delay="300">
          <i class="bi bi-plus-circle me-2"></i>Show More Projects
        </button>
      </div>
      <!-- End Show More Button -->
    </div>
  </div>
</section>
<!-- /Portfolio Section -->
