<!-- Stats Section -->
<section id="stats" class="stats section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="stats-item text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="52"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Projects Completed</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="stats-item text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="23"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="stats-item text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="15"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Team Members</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="800">
        <div class="stats-item text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="3"
            data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Years Experience</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Stats Section -->
